/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.task {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  width: 80%; /* Adjust width as needed */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-heading {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #555;
  font-size: 1.2em;
  text-align: center;
}

.task-solution {
  padding: 10px;
}